/* src/styles/global.css */

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 링크 기본 설정 */
a {
  color: inherit;
  text-decoration: none;
}

/* 버튼 기본 스타일 */
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

/* 스크롤바 커스터마이징 (선택) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(90, 132, 225, 0.4); /* #5A84E1 */
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

body {
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
  font-family: 'Pretendard', sans-serif;
  background-color: #2D2D2D;
  color: #fff; 
}

/* 콘텐츠에만 너비 제한 */
.content-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
}